<!-- SIDEBAR START -->
<div id="sidebar">
    <nav>
        <ul id="sdb_container"> 
            <li id="sdb-slide"><i class="bi bi-arrow-right" id="slide-icon"></i></li>
        </ul>

        <h3 class="sd-title">Painel de Controlo</h3>
        <ul class="home">
            <li>
                <a href="/dashboard"><i class="bi bi-house-fill"></i>
                    <span class="sb-content">Home</span>
                </a>
            </li>
        </ul>


        {{#ifIqual user.role "admin" }}
            <h3 class="sd-title"></h3>
            <ul>
                <li> 
                    <a href="/dashboard/users"><i class="bi bi-people-fill"></i>
                        <span class="sb-content">Usuários</span>
                    </a>

                </li>
              
            </ul>
        {{/ifIqual }}

        {{#ifIqual user.role "admin" }}
            <h3 class="sd-title">Freelancer</h3>
            <ul>
                <li> 
                    <a href="/dashboard/freelancer"><i class="bi bi-person-fill"></i>
                        <span class="sb-content">Freelancers</span>
                    </a>

                </li>
                <li>
                    <a href="/dashboard/freelancer/cadastrar"><i class="bi bi-person-fill-add"></i>
                        <span class="sb-content">Cadastrar Freelancer</span>
                    </a>
                </li>
            </ul>
        {{/ifIqual }}

        {{!-- {{#ifIqual user.role "freelancer" }}
            <h3 class="sd-title">Freelancer</h3>
            <ul>
                <li>
                    <a href="/dashboard/freelancer"><i class="bi bi-person-fill"></i>
                        <span class="sb-content">Freelancers</span>
                    </a>

                </li>
            </ul>
        {{/ifIqual }} --}}

        <!-- CURSOS ===========================================================  -->
        <h3 class="sd-title">Cursos</h3>
        <ul>
            <li>
                <a href="/dashboard/cursos"><i class="bi bi-grid-fill"></i>
                    <span class="sb-content">Cursos</span>
                </a>
            </li>
            <li>
                <a href="/dashboard/cursos/novocurso"><i class="bi bi-file-earmark-plus-fill"></i>
                    <span class="sb-content">Novo Curso</span>
                </a>
            </li>
        </ul>
        <!-- CROWDFUNDING ===========================================================  -->
        <h3 class="sd-title">Crowdfunding</h3>
        <ul>
            <li>
                <a href="/dashboard/crowdfunding"><i class="bi bi-grid-fill"></i>
                    <span class="sb-content">Crowdfunding</span>
                </a>
            </li>
            <li>
                <a href="/dashboard/crowdfunding/novoCrowdfunding"><i class="bi bi-file-earmark-plus-fill"></i>
                    <span class="sb-content">Novo Crowdfunding</span>
                </a>
            </li>
        </ul>
      
        <!-- PROJETOS ===========================================================  -->
        <h3 class="sd-title">Projetos</h3>
        <ul>
            <li>
                <a href="/dashboard/projeto/meuprojeto"><i class="bi bi-kanban"></i></i>
                    <span class="sb-content">Meus Projetos</span>
                </a>
            </li>
            <li>
                <a href="/dashboard/projeto"><i class="bi bi-kanban"></i>
                    <span class="sb-content">Projetos Publicados</span>
                </a>
            </li>
            <li>
                <a href="/dashboard/projeto/novo_projeto"><i class="bi bi-building-fill-add"></i></i>
                    <span class="sb-content">Publicar Projeto</span>
                </a>
            </li>
        </ul>
        <!-- PPERFIL ===========================================================  -->
        <h3 class="sd-title">Perfil</h3>
        <ul>
            <li>
                <a href="/dashboard/user/profile/{{ user.id }}"><i class="bi bi-person-fill"></i>
                    <span class="sb-content"> {{ user.nome }} </span>
                </a>
            </li>
            
        </ul>
    </nav>
</div>
<!-- SIDEBAR END -->