<!-- HEADER START -->
<header>
    <div class="header-container ">
        <div class="logo">
            <a href="/">eMALENGUE</a>
        </div>
        <div class="hd-container">
            <div id="user-menu">
                {{#if user.imagem }}
                <img src="/admin/img/profile/{{ ./user.imagem }}" alt="Imagem do {{ user.nome }}" id="hd-user-img"></img>
                {{else }}
                <img src="/admin/img/profile.jpg" alt="Imagem do usuário" id="hd-user-img"></img>
                {{/if}}

            </div>
            <ul id="dash_dropdown">
                <li><a href="#"> <i class="bi bi-bell-fill"></i> Notificações</a></li>
                <li><a href="/dashboard/user/profile/{{ user.id }}"> <i class="bi bi-person-fill"></i> Meu perfil</a></li>
                <li><a href="/"> <i class="bi bi-globe-europe-africa"></i> Site</a></li>
                <li><a href="/logout"> <i class="bi bi-box-arrow-left"></i> Logout</a></li>
            </ul>
        </div>
    </div>
</header>
<!-- HEADER END -->