
    <!-- HEADER START -->
    <header>
        <div class="header-container ">
            <div class="logo">
                <a href="/">eMALENGUE</a>
            </div>
            <div class="hd-container">
                <div id="user-menu">
                    <img src="/admin/img/user.jpg" alt="" id="hd-user-img"></img>
                </div>
            </div>
        </div>
    </header>
    <!-- HEADER END -->
