
    <!-- FOOTER START -->
    <footer>
        <div class="footer-body">
            <!-- **** CALLING BUTTON SECTION **** -->
            <div class="ftr-calling-btn">
                <!-- Logo -->
                <a href="index.html" class="ftn-logo">eMaLENGUE</a>
                <!-- Calling Button -->
                <a href="#" class="callingButton">Cadastra-se</a>
            </div>
            <div class="ftr-content">
                 <!-- contacts -->
                 <div class="ftr-sobre ">
                    <h3>Sobre</h3>
                    <ul>
                        <li>
                            <p>
                                eMaLENGUE é uma plataforma integrada de excelência proficional,
                                conectamos os nossos clientes aos melhores freelancers do mercado
                                e fornecemos oportunidades de desenvolvimento com cursos proficionais.
                            </p>
                        </li>
                        
                    </ul>
                </div>
                
                <!-- footer menu -->
                <div class="ftr-links">
                    <h3>Freelancers</h3>
                    <ul>
                        <li><a href="#">Design e Media</a></li>
                        <li><a href="#">Finanças e Contabilidade</a></li>
                        <li><a href="#">Beleza</a></li>
                        <li><a href="#">Artes e Música</a></li>
                        <li><a href="#">Educação</a></li>
                        <li><a href="#">Saúde</a></li>
                        <li><a href="#">Transporte</a></li>
                        <li><a href="#">Construção Civil</a></li>
                        <li><a href="#">Mecânica</a></li>
                        <li><a href="#">Corte e Costura</a></li>
                        <li><a href="#">Culinária</a></li>
                        <li><a href="#">Imobiliáriio</a></li>
                    </ul>
                </div>
                <div class="ftr-cursos">
                    <h3>Nossos Cursos</h3>
                    <ul>
                        <li><a href="#">TI e Software</a></li>
                        <li><a href="#">Desenvolvimento</a></li>
                        <li><a href="#">Negócios</a></li>
                        <li><a href="#">Finanças e Contabilidade</a></li>
                        <li><a href="#">Produtividade e Escritório</a></li>
                        <li><a href="#">Design</a></li>
                        <li><a href="#">Marketing</a></li>
                        <li><a href="#">Estilo de Vida</a></li>
                        <li><a href="#">Fotografia e Video </a></li>
                        <li><a href="#">Saúde e Fitness</a></li>
                        <li><a href="#">Ensino e Estudo Académico</a></li>
                        <li><a href="#">Desenvolvimento Pessoal</a></li>
                        <li><a href="#">Música</a></li>
                    </ul>
                </div>
                 <!-- contacts -->
                 <div class="ftr-contact ">
                    <h3>Contatos</h3>
                    <ul>
                        <li>+244 999999</li>
                        <li><a href="info@gmail.com">info@gmail.com</a></li>
                    </ul>
                </div>
                
            </div>


        </div>
        <div class="footer-copyright">
            copyright &copy; 2023
        </div>
    </footer>
    <!-- FOOTER END -->

    {{!-- <!-- SWIPER JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <!-- JS APP -->
    <script src="/site/js/script.js"></script> --}}