<!DOCTYPE html>
<html lang="pt-AO">

<head>
    <!-- META CONFIG =============================================-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Tecnologia, formação, freelancer, cursos, web, site, plataforma, design, ciência, projeto" />

    <meta name="description" content="  eMaLENGUE é uma plataforma integrada de desenvolvimento proficional, conectamos os nossos clientes aos melhores proficionais freelancers do mercado e fornecemos cursos proficionais." />

    <meta name="author" content="eMalengue" />

    <!-- LOGO ICONE -->
    <link rel="icon" type="image/png" href="/site/img/Logo.png" >
    <link rel="icon" type="image/png" href="/site/img/Logo.png" sizes="32x32">
    <link rel="apple-touch-icon" sizes="120x120" type="image/png" href="/site/img/Logo.png">
    <link rel="apple-touch-icon" sizes="144x144" type="image/png" href="/site/img/Logo.png">
    <link rel="apple-touch-icon" sizes="152x152" type="image/png" href="/site/img/Logo.png">
    <link rel="apple-touch-icon" sizes="180x180" type="image/png" href="/site/img/Logo.png">

   
    <!-- GOOGLE FONT =============================================-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <!-- BOOTSTRAP v5.3 ============================================-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <!-- CSS APP ======================================================-->
    <link rel="stylesheet" href="/site/sass/style.css">

    <!-- SWIPER CSS ===================================================-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

    <title> {{title}} </title>

</head>

<body>
    {{{ body }}}
    <!-- SWIPER JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <!-- JS APP -->
    <script src="/site/js/script.js"></script>
</body>

</html>