{{> header }}
<!-- MAIN START  -->
<main>
    <!-- ********* BUSCAS E FILTRAGENS DE FREELANCERS START ********* -->
    <section id="fr_init_section">
        <div class="fr_calling row">
            <a href="/projetos/publicarprojeto"
                class="btn btn-warning col-8 col-sm-4 col-md-3 container-fluid">Contratar Um
                Freelancer</a>
            <a href="/freelancer/cadastrar" class="btn btn-primary col-10 col-sm-7 col-md-5 container-fluid">Ganhe
                Dinheiro
                Trabalhando Como Freelancer</a>
        </div>
        <hr class="container">
        <form class="container">
            <div class="row">
                <div class="col-6 col-sm-4 col-lg-2">
                    <select name="" id="" class="form-select ">
                        <option value="1" selected>Selecionar Serviço</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="col-6 col-sm-4 col-lg-2">
                    <select name="" id="" class="form-select">
                        <option value="1" selected>Orçamento</option>
                        <option value="2">Opcao 1</option>
                        <option value="3">Opcao 2</option>
                    </select>
                </div>
                <div class="col-6 col-sm-4 col-lg-2">
                    <select name="" id="" class="form-select">
                        <option value="1" selected>Praso de Entrega</option>
                        <option value="2">Opcao 1</option>
                        <option value="3">Opcao 2</option>
                    </select>
                </div>
                <div class="col-10 col-sm-8 col-lg-5 col-xl-4 d-flex container-fluid fr_search">
                    <input type="search" name="" id="" placeholder="Buscar freelancers" class="form-control">
                    <button class="btn btn-outline-dark" type="submit"><i class="bi bi-search"></i></button>
                </div>

            </div>
        </form>
        <hr class="container">
    </section>
    <!-- ********* BUSCAS E FILTRAGENS DE FREELANCERS END ********* -->

    <!-- ********* FREELANCERS START ********* -->
    <section id="freelancer_display">
        <!-- Container -->
        <div class="fr_dis_container row">

            <!-- Card start -->
            {{#each Freelancers }}
            <div class="fr_dis_card col-12 col-sm-5   container-fluid">
                <img src="admin/img/Freelancers/{{ imagem }}" alt="">
                <!-- Heart -->
                <span class="fr_heart"><i class="bi bi-heart"></i></span>
                <div class="fr_dis_card_contente">
                    <!-- freelancer name and image -->
                    <div class="fr_dis_user">
                        <img src="admin/img/Freelancers/{{ imagem }}" alt="">
                        <h5> {{ user.nome }} </h5>
                    </div>
                    <!-- Litle description -->
                    <a href="/perfildofreelancer/{{ id }}">
                        <div class="fr_dis_descriptio">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni exercitationem veniam omnis
                            repellendus ab reiciendis?
                        </div>
                    </a>
                    <!-- rate -->
                    <div class="fr_rate">
                        <i class="bi bi-star-fill"></i>
                        <p>5.0 <span>(132)</span></p>
                        <p></p>
                    </div>
                </div>
            </div>
            {{/each}}
            <!-- Card end -->


        </div>
        <div class="fr_pagination_container ">
            <ul class="fr_pagination ">
                <li><a href="#"><i class="bi bi-arrow-left"></i> </a></li>
                <li><a href="#" class="fr_active">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#"><i class="bi bi-arrow-right"></i></a></li>
            </ul>
        </div>
    </section>
    <!-- ********* FREELANCERS END ********* -->

    <!-- COMO FUNCIONA A CONTRATACAO START -->
    <section id="fr_contratacao">
        <div class="cont_container">
            <h2>Como funciona a contratação</h2>
            <!-- Card container -->
            <div class="cont_card_container row">
                <!-- Card start-->
                <div class="cont_card col-10 col-sm-5 col-md-5 container-fluid">
                    <i class="bi bi-pc-display-horizontal"></i>
                    <h4>1. Publique um trabalho</h4>
                    <p>Conte-nos em alguns segundos o que você precisa que seja feito. </p>
                </div>
                <!-- Card end-->
                <!-- Card start-->
                <div class="cont_card col-10 col-sm-5 col-md-5 container-fluid">
                    <i class="bi bi-person-bounding-box"></i>
                    <h4>2. Escolha freelancers</h4>
                    <p>Receba sua primeira oferta dentro de segundos e escolha entre os melhores.</p>
                </div>
                <!-- Card end-->
                <!-- Card start-->
                <div class="cont_card col-10 col-sm-5 col-md-5 container-fluid">
                    <i class="bi bi-card-checklist"></i>
                    <h4>3. Registre o Progresso</h4>
                    <p>Converse com o seu freelancer e avalie seu trabalho a qualquer hora, em qualquer dia da semana.
                    </p>
                </div>
                <!-- Card end-->
                <!-- Card start-->
                <div class="cont_card col-10 col-sm-5 col-md-5 container-fluid">
                    <i class="bi bi-currency-dollar"></i>
                    <h4>4. Pague com segurança</h4>
                    <p>Pague apenas quande estiver totalmente satisfeito(a).</p>
                </div>
                <!-- Card end-->
            </div>
        </div>
    </section>
    <!-- COMO FUNCIONA A CONTRATACAO END -->

</main>
<!-- MAIN END -->
{{> footer }}