    {{> header }}
    <!-- MAIN START -->
    <main>
        <div class="container cursos">
            <div class="row ">
                <div class="dropdown col-10 col-md-4 col-sm-6 container-fluid">
                    <button class="btn btn-secondary dropdown-toggle col-12 " type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Categorias
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Categoria 1</a></li>
                        <li><a class="dropdown-item" href="#">Categoria 2</a></li>
                        <li><a class="dropdown-item" href="#">Categoria 3</a></li>
                        <li><a class="dropdown-item" href="#">Categoria 5</a></li>
                        <li><a class="dropdown-item" href="#">Categoria 6</a></li>
                        <li><a class="dropdown-item" href="#">Categoria 7</a></li>
                    </ul>
                </div>
                <form action="" class="col-10  col-md-4 col-sm-6 container-fluid curso-search">
                    <input type="search" name="" id="" placeholder="Pesquisar cursos..." class="form-control">
                    <button class="btn btn-outline-dark" type="submit"><i class="bi bi-search"></i></button>
                </form>
                <hr>
            </div>
        </div>
        <div class="cursos">
            <!-- ********** CURSOS RECOMENDADOS START ********** -->
            <section id="cursos-recomendados" class="cs_recomendados">
                <h2>Cursos em Destaque</h2>
                <p class="c_r_init">Lorem ipsum dolor, sit. Modi perspiciatis rem neque tempore, maiores dolor minima
                    adipisci voluptatum.</p>
                <div class="swiper ">
                    <div class="cursos-recomendados-swiper">
                        <!-- container -->
                        <div class="cursos-rec-container swiper-wrapper">
                            <!-- card start-->
                            <div class="cursos-erc-card swiper-slide">
                                <img src="site/img/course/1.jpg" alt="">
                                <div class="cursos-rec-content">
                                    <!-- Title -->
                                    <h5>Java completo 2023 programação orientada a...</h5>
                                    <!-- owner -->
                                    <span class="c_r_teacher">Sergio Rodrigues</span>
                                    <!-- avaliacoes -->
                                    <div class="c_r_rate">
                                        <p>4,8 </p>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <span>(40.347)</span>
                                    </div>
                                    <!-- Coust -->
                                    <p class="c_r_price">40.000,00 <span>kz</span></p>
                                    <span class="c_r_class1">Mais vendidos</span>
                                </div>
                            </div>
                            <!-- card end -->

                            <!-- card start-->
                            <div class="cursos-erc-card swiper-slide">
                                <img src="site/img/course/3.jpg" alt="">
                                <div class="cursos-rec-content">
                                    <!-- Title -->
                                    <h5>Java completo 2023 programação orientada a...</h5>
                                    <!-- owner -->
                                    <span class="c_r_teacher">Sergio Rodrigues</span>
                                    <!-- avaliacoes -->
                                    <div class="c_r_rate">
                                        <p>4,8 </p>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-half"></i>
                                        <span>(40.347)</span>
                                    </div>
                                    <!-- Coust -->
                                    <p class="c_r_price">40.000,00 <span>kz</span></p>
                                    <span class="c_r_class2">Classificação mais alta

                                    </span>
                                </div>
                            </div>
                            <!-- card end -->

                            <!-- card start-->
                            <div class="cursos-erc-card swiper-slide">
                                <img src="site/img/course/2.jpg" alt="">
                                <div class="cursos-rec-content">
                                    <!-- Title -->
                                    <h5>Java completo 2023 programação orientada a...</h5>
                                    <!-- owner -->
                                    <span class="c_r_teacher">Sergio Rodrigues</span>
                                    <!-- avaliacoes -->
                                    <div class="c_r_rate">
                                        <p>4,8 </p>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-half"></i>
                                        <i class="bi bi-star"></i>
                                        <span>(40.347)</span>
                                    </div>
                                    <!-- Coust -->
                                    <p class="c_r_price">40.000,00 <span>kz</span></p>
                                    <span class="c_r_class1">Mais vendidos</span>
                                </div>
                            </div>
                            <!-- card end -->

                            <!-- card start-->
                            <div class="cursos-erc-card swiper-slide">
                                <img src="site/img/course/4.jpg" alt="">
                                <div class="cursos-rec-content">
                                    <!-- Title -->
                                    <h5>Java completo 2023 programação orientada a...</h5>
                                    <!-- owner -->
                                    <span class="c_r_teacher">Sergio Rodrigues</span>
                                    <!-- avaliacoes -->
                                    <div class="c_r_rate">
                                        <p>4,8 </p>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-half"></i>
                                        <span>(40.347)</span>
                                    </div>
                                    <!-- Coust -->
                                    <p class="c_r_price">40.000,00 <span>kz</span></p>
                                    <span class="c_r_class2">Classificação mais alta

                                    </span>
                                </div>
                            </div>
                            <!-- card end -->
                            <!-- card start-->
                            <div class="cursos-erc-card swiper-slide">
                                <img src="site/img/course/5.jpg" alt="">
                                <div class="cursos-rec-content">
                                    <!-- Title -->
                                    <h5>Java completo 2023 programação orientada a...</h5>
                                    <!-- owner -->
                                    <span class="c_r_teacher">Sergio Rodrigues</span>
                                    <!-- avaliacoes -->
                                    <div class="c_r_rate">
                                        <p>4,8 </p>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-half"></i>
                                        <span>(40.347)</span>
                                    </div>
                                    <!-- Coust -->
                                    <p class="c_r_price">40.000,00 <span>kz</span></p>
                                    <span class="c_r_class2">Classificação mais alta

                                    </span>
                                </div>
                            </div>
                            <!-- card end -->
                            <!-- card start-->
                            <div class="cursos-erc-card swiper-slide">
                                <img src="site/img/course/7.png" alt="">
                                <div class="cursos-rec-content">
                                    <!-- Title -->
                                    <h5>Java completo 2023 programação orientada a...</h5>
                                    <!-- owner -->
                                    <span class="c_r_teacher">Sergio Rodrigues</span>
                                    <!-- avaliacoes -->
                                    <div class="c_r_rate">
                                        <p>4,8 </p>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-half"></i>
                                        <span>(40.347)</span>
                                    </div>
                                    <!-- Coust -->
                                    <p class="c_r_price">40.000,00 <span>kz</span></p>
                                    <span class="c_r_class2">Classificação mais alta

                                    </span>
                                </div>
                            </div>
                            <!-- card end -->
                            <!-- card start-->
                            <div class="cursos-erc-card swiper-slide">
                                <img src="site/img/course/6.jpg" alt="">
                                <div class="cursos-rec-content">
                                    <!-- Title -->
                                    <h5>Java completo 2023 programação orientada a...</h5>
                                    <!-- owner -->
                                    <span class="c_r_teacher">Sergio Rodrigues</span>
                                    <!-- avaliacoes -->
                                    <div class="c_r_rate">
                                        <p>4,8 </p>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-half"></i>
                                        <span>(40.347)</span>
                                    </div>
                                    <!-- Coust -->
                                    <p class="c_r_price">40.000,00 <span>kz</span></p>
                                    <span class="c_r_class2">Classificação mais alta

                                    </span>
                                </div>
                            </div>
                            <!-- card end -->

                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </section>
            <!-- ********** CURSOS RECOMENDADOS END ********** -->

            <!-- ********* CURSOS START ********* -->
            <section id="cursos_display">
                 
                <h2>Todos os cursos</h2>
                <!-- Container -->
                <div class="cs_dis_container row">
                    <!-- Card start -->
                    <a href="cursos/detalhes" class="cs_dis_card col-12 col-sm-5 col-md-5  container-fluid">
                        <img src="site/img/course/1.jpg" alt="">
                        <!-- Heart -->
                        
                        <div class="cs_dis_card_contente">
                            <!-- CURSO name and image -->
                            <div class="cs_dis_user">
                                <img src="site/img/course/user1.png" alt="">
                                <h5>Nome do Curso</h5>
                            </div>
                            <!-- Litle description -->
                            <div class="cs_dis_descriptio">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni exercitationem veniam
                                omnis repellendus ab reiciendis?
                            </div>
                            <!-- rate -->
                            <div class="cs_rate">
                                <i class="bi bi-star-fill"></i>
                                <p>5.0 <span>(132)</span></p>
                                <p></p>
                            </div>
                        </div>
                    </a>
                    <!-- Card end -->
                    <!-- Card start -->
                    <a href="cursos/detalhes" class="cs_dis_card col-12 col-sm-5 col-md-5 container-fluid">
                        <img src="site/img/course/2.jpg" alt="">
                        <!-- Heart -->
                        
                        <div class="cs_dis_card_contente">
                            <!-- CURSO name and image -->
                            <div class="cs_dis_user">
                                <img src="site/img/course/user2.png" alt="">
                                <h5>Nome do Curso</h5>
                            </div>
                            <!-- Litle description -->
                            <div class="cs_dis_descriptio">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni exercitationem veniam
                                omnis repellendus ab reiciendis?
                            </div>
                            <!-- rate -->
                            <div class="cs_rate">
                                <i class="bi bi-star-fill"></i>
                                <p>5.0 <span>(132)</span></p>
                                <p></p>
                            </div>
                        </div>
                    </a>
                    <!-- Card end -->
                    <!-- Card start -->
                    <a href="cursos/detalhes" class="cs_dis_card col-12 col-sm-5 col-md-5  container-fluid">
                        <img src="site/img/course/3.jpg" alt="">
                        <!-- Heart -->
                        
                        <div class="cs_dis_card_contente">
                            <!-- CURSO name and image -->
                            <div class="cs_dis_user">
                                <img src="site/img/course/user1.png" alt="">
                                <h5>Nome do Curso</h5>
                            </div>
                            <!-- Litle description -->
                            <div class="cs_dis_descriptio">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni exercitationem veniam
                                omnis repellendus ab reiciendis?
                            </div>
                            <!-- rate -->
                            <div class="cs_rate">
                                <i class="bi bi-star-fill"></i>
                                <p>5.0 <span>(132)</span></p>
                                <p></p>
                            </div>
                        </div>
                    </a>
                    <!-- Card end -->
                    <!-- Card start -->
                    <a href="cursos/detalhes" class="cs_dis_card col-12 col-sm-5 col-md-5  container-fluid">
                        <img src="site/img/course/7.png" alt="">
                        <!-- Heart -->
                        
                        <div class="cs_dis_card_contente">
                            <!-- CURSO name and image -->
                            <div class="cs_dis_user">
                                <img src="site/img/course/user2.png" alt="">
                                <h5>Nome do Curso</h5>
                            </div>
                            <!-- Litle description -->
                            <div class="cs_dis_descriptio">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni exercitationem veniam
                                omnis repellendus ab reiciendis?
                            </div>
                            <!-- rate -->
                            <div class="cs_rate">
                                <i class="bi bi-star-fill"></i>
                                <p>5.0 <span>(132)</span></p>
                                <p></p>
                            </div>
                        </div>
                    </a>
                    <!-- Card end -->

                </div>
                <div class="cs_pagination_container ">
                    <ul class="cs_pagination ">
                        <li><a href="#"><i class="bi bi-arrow-left"></i> </a></li>
                        <li><a href="#" class="cs_active">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#"><i class="bi bi-arrow-right"></i></a></li>
                    </ul>
                </div>
            </section>
            <!-- ********* CURSOS END ********* -->

                    <!-- *********** TESTEMUNHOS END ****************** -->
        <section id="testemunhos">
            <h2>Oque Dizem os Nossos Alunos</h2>
            <p class="t_init">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, repudiandae.</p>
            <!-- Container -->
            <div class="testemunhos_container">
                <!-- Card start -->
                <div class="testemunhos_card">
                    <img src="site/img/course/user1.png" alt="">
                    <div class="t_content">
                        <h5>Nome do Usuário</h5>
                        <p>Aluno</p>
                        <div>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex deserunt aspernatur nesciunt,
                            debitis sint consectetur laboriosam est quisquam quaerat rerum, temporibus officia
                            voluptate. Corrupti, illum exercitationem!
                        </div>
                    </div>
                </div>
                <!-- Card End -->
                <!-- Card start -->
                <div class="testemunhos_card">
                    <img src="site/img/Freelancer/2.png" alt="">
                    <div class="t_content">
                        <h5>Nome do Usuário</h5>
                        <p>Aluno</p>
                        <div>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex deserunt aspernatur nesciunt,
                            debitis sint consectetur laboriosam est quisquam quaerat rerum, temporibus officia
                            voluptate. Corrupti, illum exercitationem!
                        </div>
                    </div>
                </div>
                <!-- Card End -->
                <!-- Card start -->
                <div class="testemunhos_card">
                    <img src="site/img/course/user1.png" alt="">
                    <div class="t_content">
                        <h5>Nome do Usuário</h5>
                        <p>Aluno</p>
                        <div>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex deserunt aspernatur nesciunt,
                            debitis sint consectetur laboriosam est quisquam quaerat rerum, temporibus officia
                            voluptate. Corrupti, illum exercitationem!
                        </div>
                    </div>
                </div>
                <!-- Card End -->
            </div>
        </section>
        <!-- *********** TESTEMUNHOS ****************** -->

        <section id="instrutor">
            <div class="instrutor_container">
                <div class="row">
                    <div class="ins_img col-10 col-sm-8 col-md-5 container-fluid">
                        <img src="site/img/course/10.png" alt="">
                    </div>
                    <div class="ins_content col-10 col-sm-10 col-md-5 container-fluid">
                        <h3>Torne-se um instrutor</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident eum in doloribus, ea eveniet similique nostrum adipisci amet temporibus veniam voluptate necessitatibus perspiciatis tempore magnam mollitia suscipit ut! Dolores, praesentium.</p>

                        <button class="btn btn-dark">Comece a ensinar hoje mesmo</button>
                    </div>
                </div>
            </div>
        </section>
        </div>
    </main>
    <!-- MAIN END -->
   {{> footer }}