
{{> header }}

<!-- MAIN START -->
<main>
    <!-- *********** BANNER START ******* -->
    <div id="banner">
        <div id="carouselExampleInterval" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                <!-- First carousel -->
                <div class="carousel-item active carousel_1" data-bs-interval="10000">
                    <div class="crs_1_content">
                        <h1>Os Melhores Cursos Profissionais</h1>
                        <p>Encontre as melhores formações profissionais disponiveis no mercado.</p>
                        <div class="bnnr-buttons">
                            <a href="#" class="bnnr-saberMais">Saiba mais</a>
                            <a href="/cadastrar" class="calling-Button">Cadastra-se</a>
                        </div>
                        <!-- <a href="#" class="calling-Button">Cadastra-se</a> -->
                    </div>
                </div>
                <!-- Secound carousel -->
                <div class="carousel-item carousel_2" data-bs-interval="6000">
                    <div class="crs_2_content">
                        <h1>Os Melhores Freelancers do Mercado </h1>
                        <p>Contrate os melhores freelancers no mercado angolano.</p>
                        <div class="bnnr-buttons">
                            <a href="#" class="bnnr-saberMais">Saiba mais</a>
                            <a href="/cadastrar" class="calling-Button">Cadastra-se</a>
                        </div>
                        <!-- <a href="#" class="calling-Button">Cadastra-se</a> -->
                    </div>
                </div>
            </div>

            <!-- Carousel Button Controller -->
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <!-- *********** BANNER END ******* -->

    <!-- ********** CURSOS RECOMENDADOS START ********** -->
    <section id="cursos-recomendados">
        <h2>Cursos Recomendados</h2>
        <p class="c_r_init">Lorem ipsum dolor, sit. Modi perspiciatis rem neque tempore, maiores dolor minima
            adipisci voluptatum.</p>

        <div class="swiper ">
            <div class="cursos-recomendados-swiper">
                <!-- container -->
                <div class="cursos-rec-container swiper-wrapper">
                    <!-- card start-->
                    <div class="cursos-erc-card swiper-slide">
                        <img src="site/img/course/1.jpg" alt="">
                        <div class="cursos-rec-content">
                            <!-- Title -->
                            <h5>Java completo 2023 programação orientada a...</h5>
                            <!-- owner -->
                            <span class="c_r_teacher">Sergio Rodrigues</span>
                            <!-- avaliacoes -->
                            <div class="c_r_rate">
                                <p>4,8 </p>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <span>(40.347)</span>
                            </div>
                            <!-- Coust -->
                            <p class="c_r_price">40.000,00 <span>kz</span></p>
                            <span class="c_r_class1">Mais vendidos</span>
                        </div>
                    </div>
                    <!-- card end -->

                    <!-- card start-->
                    <div class="cursos-erc-card swiper-slide">
                        <img src="site/img/course/3.jpg" alt="">
                        <div class="cursos-rec-content">
                            <!-- Title -->
                            <h5>Java completo 2023 programação orientada a...</h5>
                            <!-- owner -->
                            <span class="c_r_teacher">Sergio Rodrigues</span>
                            <!-- avaliacoes -->
                            <div class="c_r_rate">
                                <p>4,8 </p>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-half"></i>
                                <span>(40.347)</span>
                            </div>
                            <!-- Coust -->
                            <p class="c_r_price">40.000,00 <span>kz</span></p>
                            <span class="c_r_class2">Classificação mais alta

                            </span>
                        </div>
                    </div>
                    <!-- card end -->

                    <!-- card start-->
                    <div class="cursos-erc-card swiper-slide">
                        <img src="site/img/course/2.jpg" alt="">
                        <div class="cursos-rec-content">
                            <!-- Title -->
                            <h5>Java completo 2023 programação orientada a...</h5>
                            <!-- owner -->
                            <span class="c_r_teacher">Sergio Rodrigues</span>
                            <!-- avaliacoes -->
                            <div class="c_r_rate">
                                <p>4,8 </p>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-half"></i>
                                <i class="bi bi-star"></i>
                                <span>(40.347)</span>
                            </div>
                            <!-- Coust -->
                            <p class="c_r_price">40.000,00 <span>kz</span></p>
                            <span class="c_r_class1">Mais vendidos</span>
                        </div>
                    </div>
                    <!-- card end -->

                    <!-- card start-->
                    <div class="cursos-erc-card swiper-slide">
                        <img src="site/img/course/4.jpg" alt="">
                        <div class="cursos-rec-content">
                            <!-- Title -->
                            <h5>Java completo 2023 programação orientada a...</h5>
                            <!-- owner -->
                            <span class="c_r_teacher">Sergio Rodrigues</span>
                            <!-- avaliacoes -->
                            <div class="c_r_rate">
                                <p>4,8 </p>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-half"></i>
                                <span>(40.347)</span>
                            </div>
                            <!-- Coust -->
                            <p class="c_r_price">40.000,00 <span>kz</span></p>
                            <span class="c_r_class2">Classificação mais alta

                            </span>
                        </div>
                    </div>
                    <!-- card end -->
                    <!-- card start-->
                    <div class="cursos-erc-card swiper-slide">
                        <img src="site/img/course/5.jpg" alt="">
                        <div class="cursos-rec-content">
                            <!-- Title -->
                            <h5>Java completo 2023 programação orientada a...</h5>
                            <!-- owner -->
                            <span class="c_r_teacher">Sergio Rodrigues</span>
                            <!-- avaliacoes -->
                            <div class="c_r_rate">
                                <p>4,8 </p>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-half"></i>
                                <span>(40.347)</span>
                            </div>
                            <!-- Coust -->
                            <p class="c_r_price">40.000,00 <span>kz</span></p>
                            <span class="c_r_class2">Classificação mais alta

                            </span>
                        </div>
                    </div>
                    <!-- card end -->
                    <!-- card start-->
                    <div class="cursos-erc-card swiper-slide">
                        <img src="site/img/course/7.png" alt="">
                        <div class="cursos-rec-content">
                            <!-- Title -->
                            <h5>Java completo 2023 programação orientada a...</h5>
                            <!-- owner -->
                            <span class="c_r_teacher">Sergio Rodrigues</span>
                            <!-- avaliacoes -->
                            <div class="c_r_rate">
                                <p>4,8 </p>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-half"></i>
                                <span>(40.347)</span>
                            </div>
                            <!-- Coust -->
                            <p class="c_r_price">40.000,00 <span>kz</span></p>
                            <span class="c_r_class2">Classificação mais alta

                            </span>
                        </div>
                    </div>
                    <!-- card end -->
                    <!-- card start-->
                    <div class="cursos-erc-card swiper-slide">
                        <img src="site/img/course/6.jpg" alt="">
                        <div class="cursos-rec-content">
                            <!-- Title -->
                            <h5>Java completo 2023 programação orientada a...</h5>
                            <!-- owner -->
                            <span class="c_r_teacher">Sergio Rodrigues</span>
                            <!-- avaliacoes -->
                            <div class="c_r_rate">
                                <p>4,8 </p>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-half"></i>
                                <span>(40.347)</span>
                            </div>
                            <!-- Coust -->
                            <p class="c_r_price">40.000,00 <span>kz</span></p>
                            <span class="c_r_class2">Classificação mais alta

                            </span>
                        </div>
                    </div>
                    <!-- card end -->

                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </section>
    <!-- ********** CURSOS RECOMENDADOS END ********** -->

    <!-- *********** CONTRATAR FREELANCERS START ****************** -->
    <section id="contratar_freelancers">

        <h2>Contratar os Melhores Freelancers</h2>
        <p class="c_f_init">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore dolorem sequi est
            laudantium ex ratione cupiditate asperiores aspernatur.</p>
        <div class="swiper">
            <div class="contratar_freelancers-swiper ">
                <!-- container -->
                <div class="c_f_container swiper-wrapper">
                    {{#each freelancers}}
                    <!-- Card Start -->
                    <div class="c_f_card swiper-slide">
                        <div class="c_f_img">
                            <img src="/admin/img/freelancers/{{ imagem }}" alt="">
                        </div>
                        <div class="c_f_content">
                            <h5> {{ user.nome }} </h5>
                            <p>{{ especialidade }}</p>
                            <a href="/perfildofreelancer/{{ id }}">Visualizar Perfil</a>
                        </div>
                        <div class="c_f_skill">
                            <p>Skills</p>
                            <span>HTML</span>
                            <span>CSS</span>
                            <span>Javascript</span>
                            <span>Python</span>
                        </div>
                    </div>
                    <!-- Card End -->
                       
                    {{/each}}
                    <!-- Card Start -->
                    {{!-- <div class="c_f_card swiper-slide">
                        <div class="c_f_img">
                            <img src="site/img/Freelancer/2.png" alt="">
                        </div>
                        <div class="c_f_content">
                            <h5>Plamedi Pindi</h5>
                            <p>Desenvolvedor de Software</p>
                            <a href="/freelancer">Visualizar Perfil</a>
                        </div>
                        <div class="c_f_skill">
                            <p>Skills</p>
                            <span>HTML</span>
                            <span>CSS</span>
                            <span>Javascript</span>
                            <span>Python</span>
                        </div>
                    </div> --}}
                    <!-- Card End -->
                    <!-- Card Start -->
                    {{!-- <div class="c_f_card swiper-slide">
                        <div class="c_f_img">
                            <img src="site/img/Freelancer/3.png" alt="">
                        </div>
                        <div class="c_f_content">
                            <h5>Plamedi Pindi</h5>
                            <p>Desenvolvedor de Software</p>
                            <a href="/freelancer">Visualizar Perfil</a>
                        </div>
                        <div class="c_f_skill">
                            <p>Skills</p>
                            <span>HTML</span>
                            <span>CSS</span>
                            <span>Javascript</span>
                            <span>Python</span>
                        </div>
                    </div> --}}
                    <!-- Card End -->
                    <!-- Card Start -->
                    {{!-- <div class="c_f_card swiper-slide">
                        <div class="c_f_img">
                            <img src="site/img/Freelancer/2.png" alt="">
                        </div>
                        <div class="c_f_content">
                            <h5>Plamedi Pindi</h5>
                            <p>Desenvolvedor de Software</p>
                            <a href="/freelancer">Visualizar Perfil</a>
                        </div>
                        <div class="c_f_skill">
                            <p>Skills</p>
                            <span>HTML</span>
                            <span>CSS</span>
                            <span>Javascript</span>
                            <span>Python</span>
                        </div>
                    </div> --}}
                    <!-- Card End -->
                    
                    <!-- Card Start -->
                    {{!-- <div class="c_f_card swiper-slide">
                        <div class="c_f_img">
                            <img src="site/img/Freelancer/3.png" alt="">
                        </div>
                        <div class="c_f_content">
                            <h5>Plamedi Pindi</h5>
                            <p>Desenvolvedor de Software</p>
                            <a href="/freelancer">Visualizar Perfil</a>
                        </div>
                        <div class="c_f_skill">
                            <p>Skills</p>
                            <span>HTML</span>
                            <span>CSS</span>
                            <span>Javascript</span>
                            <span>Python</span>
                        </div>
                    </div> --}}
                    <!-- Card End -->
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </section>
    <!-- *********** CONTRATAR FREELANCERS END ****************** -->

    <!-- *************** COUNTER START ********************* -->
    <section class="counter_section">
        <div class="container">
            <div class="row">
                <div class="col-10 col-md-5 col-lg-4 container-fluid counter">
                    <h3><i class="bi bi-book"></i><span>30</span>K</h3>
                    <span class="cntr_info">Cursos</span>
                </div>
                <div class="col-10 col-md-5 col-lg-4 container-fluid counter">
                    <h3><i class="bi bi-people"></i><span>10</span>K</h3>
                    <span class="cntr_info">Freelancers</span>
                </div>
            </div>
        </div>
    </section>
    <!-- *************** COUNTER END ********************* -->

    <!-- *********** CCONTRATAR FREELANCERS END ****************** -->
    <section id="parceiros">
        <h2>Nossos Parceiros</h2>
        <div class="parceiros_container">
            <img src="site/img/Parceiros/vw-logo-3312.png" alt="" class="img_1">
            <img src="site/img/Parceiros/samsung-4-logo-png-transparent.png" alt="" class="img_2">
            <img src="site/img/Parceiros/609913fa3ae4510004af4a2a.png" alt="" class="img_3">
            <img src="site/img/Parceiros/at-t-logo-2016.svg" alt="" class="img_4">
            <img src="site/img/Parceiros/hewlett-packard-enterprise-logo-png-8.png" alt="" class="img_5">
        </div>
    </section>
    <!-- *********** CCONTRATAR FREELANCERS END ****************** -->

    <!-- *********** TESTEMUNHOS END ****************** -->
    <section id="testemunhos">
        <h2>Oque Dizem os Nossos Alunos</h2>
        <p class="t_init">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, repudiandae.</p>
        <!-- Container -->
        <div class="testemunhos_container">
            <!-- Card start -->
            <div class="testemunhos_card">
                <img src="site/img/Freelancer/1.jpg" alt="">
                <div class="t_content">
                    <h5>Nome do Usuário</h5>
                    <p>Aluno</p>
                    <div>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex deserunt aspernatur nesciunt,
                        debitis sint consectetur laboriosam est quisquam quaerat rerum, temporibus officia
                        voluptate. Corrupti, illum exercitationem!
                    </div>
                </div>
            </div>
            <!-- Card End -->
            <!-- Card start -->
            <div class="testemunhos_card">
                <img src="site/img/Freelancer/2.png" alt="">
                <div class="t_content">
                    <h5>Nome do Usuário</h5>
                    <p>Aluno</p>
                    <div>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex deserunt aspernatur nesciunt,
                        debitis sint consectetur laboriosam est quisquam quaerat rerum, temporibus officia
                        voluptate. Corrupti, illum exercitationem!
                    </div>
                </div>
            </div>
            <!-- Card End -->
            <!-- Card start -->
            <div class="testemunhos_card">
                <img src="site/img/Freelancer/1.jpg" alt="">
                <div class="t_content">
                    <h5>Nome do Usuário</h5>
                    <p>Aluno</p>
                    <div>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex deserunt aspernatur nesciunt,
                        debitis sint consectetur laboriosam est quisquam quaerat rerum, temporibus officia
                        voluptate. Corrupti, illum exercitationem!
                    </div>
                </div>
            </div>
            <!-- Card End -->
        </div>
    </section>
    <!-- *********** TESTEMUNHOS ****************** -->

</main>
<!-- MAIN END -->

{{> footer }}