{{> header }}
<!-- MAIN START -->
<main class="cadastro_form">
    <div class="container">
        <div class="fr_reg_form_container">
            <h2>Cadastro</h2>
            {{!-- <form class="row" id="register_form">
                <div class="col-10 col-md-5 container-fluid">
                    <label for="nome">Nome:</label>
                    <input type="text" name="name" id="name" class="form-control" placeholder="Seu nome.." required>

                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email" class="form-control" placeholder="...@gmail.com"
                        required>
                    <div id="email_warnig"></div>

                    <label for="password">Senha:</label>
                    <input type="password" name="password" id="password" class="form-control" placeholder="Senha"
                        required>
                    <div id="password_warnig"></div>

                    <label for="confirmPassword">Confirmar Senha:</label>
                    <input type="password" name="confirmPassword" class="form-control" id="confirmPassword"
                        placeholder="Confirmar senha" required>
                    <div id="confPw_warnig"></div>
                </div>
                <div class="col-10 col-md-5 container-fluid">
                    <label for="">Pais:</label>
                    <input type="text" name="" id="" class="form-control">

                    <label for="">Telefone:</label>
                    <input type="tel" class="form-control" placeholder="+244 9....">
                </div>
                <input type="submit" class="btn btn-primary" value="Cadastrar-se">
            </form> --}}

            <!-- Form start -->
            <form enctype="multipart/form-data" id="freelancer_form">
                <div class="row">
                    <!-- update profile photo -->
                    <div class="col-10 col-md-8 fr_rg_photo container-fluid">
                        <img src="/admin/img/profile.jpg" alt="" id="fr_rg_photo_img">
                        <input type="file" class="form-control" id="fr_rg_photo_input" name="img" required>
                    </div>
                    <!-- Personal Information -->
                    <div class="col-10 col-md-5 fr_rg_personalData container-fluid">
                        <!-- Name -->
                        <label for="name">Nome <span>*</span></label>
                        <input type="text" placeholder="Seu nome..." class="form-control" name="name" required>
                        <!-- Email -->
                        <label for="email">Email <span>*</span></label>
                        <input type="text" placeholder="...@gmail.com" class="form-control" name="email" required>
                        <!-- Password -->
                        <label for="password">Senha <span>*</span></label>
                        <input type="password" placeholder="" class="form-control" name="password" required>
                        <!-- Country -->
                        <label for="country">Pais <span>*</span></label>
                        <select name="country" id="fr_seletor" class="form-select" required>
                            <option value="Angola" selected>Angola</option>
                            <option value="Amerca">Amerca</option>
                            <option value="Argentina">Argentina</option>
                            <option value="Brazil">Brazil</option>
                            <option value="Canada">Canada</option>
                        </select>

                        <!-- Telefone -->
                        <label for="province">Telefone <span>*</span></label>
                        <input type="tel" placeholder="Provincia" class="form-control" name="phone" required>

                        <!-- Province -->
                        <label for="province">Provincia <span>*</span></label>
                        <input type="text" placeholder="Provincia" class="form-control" name="province" required>
                    </div>

                    <!-- Proffssional Information -->
                    <div class="col-10 col-md-5 fr_rg_professionalData container-fluid">

                        <!-- Especialidade -->
                        <label for="skills">Sua Especialidade <span>*</span></label>
                        <input type="text" placeholder="Designer" class="form-control" name="especialidade" required>

                        <!-- Habiliteis -->
                        <label for="skills">Principais Habilidades <span>*</span></label>
                        <input type="text" placeholder="HTML, JS, CSS..." class="form-control" name="skills" required>

                        <!-- Cetification -->
                        <label for="certification">Certificações <span>*</span></label>
                        <input type="text" placeholder="Certificações" class="form-control" name="certification" required>

                        <!-- About User -->
                        <label for="about">Sobre mim <span>*</span></label>
                        <textarea name="about" id="fr_aboutMi" cols="30" rows="7" placeholder="Escreva sobre você..."
                            class="form-control"></textarea required>
                    </div>

                    <!-- update Docs -->
                    <div class="col-10 col-md-5 container-fluid">
                        <label for="identification">Anexar Bilhete de Identidade <span>*</span></label>
                        <input type="file" placeholder="" name="identification" class="form-control" required>
                    </div>
                    <div class="col-10 col-md-5 fr_rg_doc container-fluid">
                        <label for="cv">Anexar CV <span>*</span></label>
                        <input type="file" name="cv" class="form-control" required>
                    </div>

                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                </div>
            </form>
            <!-- Form end -->
        </div>
    </div>
</main>
<!-- MAIN END -->

<script>

    const form = document.getElementById('freelancer_form')

    form.addEventListener('submit', async (e) => {
        e.preventDefault()

        const formData = new FormData(form)

        try {
            const response = await fetch('/dashboard/freelancer/enviar_cadastro', {
                method: 'POST',
                body: formData
            })

            const result = await response.json()
            console.log(result)

            if (result.fr) {
                location.assign('/perfildofreelancer/'+ result.fr.id)
            }
        } catch (err) {
            console.log("Ocorreu um erro com o Fetch(): " + err)
        }

    })



</script>
{{> footer }}