{{> dashHeader }}
{{> dashSidebar }}
<!-- MAIN START -->
<main>
    <div class="container">
        <div class="nw_pr_breadcrumbs">
            <div class="breadcrumbs">
                <ul>
                    <li><a href="/dashboard">Home</a></li>
                    <li><a href="/dashboard/projeto">Meus projetos</a></li>
                </ul>
            </div>
        </div>
        <div class="nw_pr_container">
            <h2>Publicar Projeto</h2>
            <form id="admin_projeto_form" enctype="multipart/form-data">
                <div class="row">

                    <div class="col-10 col-md-8 container-fluid">
                        <label for="img">Escolha uma Imagem <span>*</span></label>
                        <input type="file" name="pj_img" class="form-select">
                    </div>

                    <!-- Category -->
                    <div class="col-10 col-md-5 container-fluid">

                        <label for="categoria">Escolha uma categoria <span>*</span></label>
                        <select name="categoria" id="" class="form-select" required>
                            <option  selected>Selecionar uma categoria</option>
                             {{#each categoria}}
                                <option value="{{ id }}"> {{ name }} </option>
                             {{/each}}
                        </select>
                    </div>
                    <!-- Project Name -->
                    <div class="col-10 col-md-5 container-fluid">
                        <label for="nome">Dê um nome para o trabalho <span>*</span></label>
                        <input type="text" placeholder="Ex: Redator para blog de tecnologia" name="nome"
                            class="form-control" required>
                    </div>
                    <!-- Project Description -->
                    <div class="col-10 col-md-10 container-fluid nw-pj-description">
                        <label for="descricao">Descreva o trabalho a se feito <span>*</span></label>
                        <textarea name="descricao" id="" cols="30" rows="6" class="form-control" required></textarea>
                    </div>
                    <!-- Desired Hability for Project -->
                    <div class="col-10 col-md-5 container-fluid">
                        <label for="habilidades">Quais habilidades são desejadas? <span>*</span></label>
                        <select name="habilidades" id="" class="form-select" multiple required>
                            {{#each habilidade }}
                                <option value="{{ id }}"> {{ name }} </option>
                            {{/each }}
                        </select>
                        <span >Selecionar no máximo 5 (ctrl + click) </span>
                    </div>
                    <!-- Project Duration -->
                    <div class="col-10 col-md-5 container-fluid">
                        <label for="prazo">Prazo <span>*</span></label>
                        <input type="date" name="prazo" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Publicar</button>
                </div>
            </form>
        </div>
    </div>
</main>
<!-- MAIN END -->

  {{!-- Script --}}
    <script>

        const form = document.getElementById('admin_projeto_form')
        form.addEventListener('submit', async (e) => {
            e.preventDefault()

            const formData = new FormData(form)
           
            try{
                const response = await fetch('/dashboard/projeto/criar', {
                    method: "POST",
                    body: formData
                })

                const result = await response.json()
                console.log(result)
                if(result.project) {
                    console.log(result)
                    location.assign('/dashboard/projeto')
                }

            } catch (err) {
                console.log('There is an error in Fatch(): ' + err)
            }
        })
        
    </script>
{{> dashFooter }}