{{> dashHeader }}
{{> dashSidebar }}
<!-- MAIN START -->
<main>
    <div class="container">
        <div class="nw_pr_container">
            <h2>Publicar Projeto</h2>
            <div class="row">
                <!-- Category -->
                <div class="col-10 col-md-5 container-fluid">
                    <label for="">Escolha uma categoria <span>*</span></label>
                    <select name="" id="" class="form-select" required>
                        <option value="" selected>Selecionar uma categoria</option>
                        <option value="">categoria 1</option>
                        <option value="">categoria 2</option>
                        <option value="">categoria 3</option>
                        <option value="">categoria 4</option>
                    </select>
                </div>
                <!-- Project Name -->
                <div class="col-10 col-md-5 container-fluid">
                    <label for="">Dê um nome para o trabalho <span>*</span></label>
                    <input type="text" placeholder="Ex: Redator para blog de tecnologia" class="form-control" required>
                </div>
                <!-- Project Description -->
                <div class="col-10 col-md-10 container-fluid nw-pj-description">
                    <label for="">Descreva o trabalho a se feito <span>*</span></label>
                    <textarea name="" id="" cols="30" rows="6" class="form-control" required></textarea>
                </div>
                <!-- Desired Hability for Project -->
                <div class="col-10 col-md-5 container-fluid">
                    <label for="">Quais habilidades são desejadas? <span>*</span></label>
                    <select name="" id="" class="form-select" multiple required>
                        <option value="" selected>Selecionar no máximo 5</option>
                        <option value="">habilidade 1</option>
                        <option value="">habilidade 2</option>
                        <option value="">habilidade 3</option>
                        <option value="">habilidade 4</option>
                        <option value="">habilidade 5</option>
                        <option value="">habilidade 6</option>
                    </select>
                </div>
                <!-- Project Duration -->
                <div class="col-10 col-md-5 container-fluid">
                    <label for="">Prazo <span>*</span></label>
                    <input type="text" class="form-control" required>
                </div>
                <button class="btn btn-success">Publicar</button>
            </div>
        </div>
    </div>
</main>
<!-- MAIN END -->
  {{> dashFooter }}