{{> header }}

<!-- MAIN START -->
<main>
    <div class="crowdfunder_banner">
        <h2>Crowdfunder</h2>
        <span class="cont_line"></span>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/crowdfunder">Crowdfunder</a></li>
        </ul>
    </div>
    <div id="crowd_container">
        <section class="campanha">
            <h2>Campanha em Destque</h2>

            <div class="row">
                <a href="/crowdfunder/detalhes" class="col-10 col-md-7 col-lg-4 crowd_cart container-fluid">
                   
                        <figure>
                            <img src="/site/img/crowdfunder/img1.jpg" alt="">
                            <figcaption>projeto de destaque</figcaption>
                        </figure>
                        <!--Content-->
                        <div class="content">
                            <h4> Card title goes here </h4>
                            <span> by the Author Name </span>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, maxime.</p>
                        </div>
                        <div class="detail">
                            <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="83"
                                aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar " style="width: 83%"></div>
                            </div>
                            <ul>
                                <li class="first">83%</li>
                                <li class="second">
                                    66.430,00 AO
                                    <span>Levantados</span>
                                </li>
                                <li class="third">
                                    26 dias
                                    <span>restates</span>
                                </li>
                            </ul>
                        </div>
                        <div class="local">
                            <span><i class="bi bi-geo-alt-fill"></i> São Paulo, SP</span>
                            <span><i class="bi bi-tag-fill"></i> Jogos</span>
                        </div>
                    
                </a>

                <a href="/crowdfunder/detalhes" class="col-10 col-md-7 col-lg-4 crowd_cart container-fluid">
                   
                        <figure>
                            <img src="/site/img/crowdfunder/img2.jpg" alt="">
                            <figcaption>projeto de destaque</figcaption>
                        </figure>
                        <!--Content-->
                        <div class="content">
                            <h4> Card title goes here </h4>
                            <span> by the Author Name </span>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, maxime.</p>
                        </div>
                        <div class="detail">
                            <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="83"
                                aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar " style="width: 83%"></div>
                            </div>
                            <ul>
                                <li class="first">83%</li>
                                <li class="second">
                                    66.430,00 AO
                                    <span>Levantados</span>
                                </li>
                                <li class="third">
                                    26 dias
                                    <span>restates</span>
                                </li>
                            </ul>
                        </div>
                        <div class="local">
                            <span><i class="bi bi-geo-alt-fill"></i> São Paulo, SP</span>
                            <span><i class="bi bi-tag-fill"></i> Jogos</span>
                        </div>
                    
                </a>

                <a href="/crowdfunder/detalhes"class="col-10 col-md-7 col-lg-4 crowd_cart container-fluid">
                   
                        <figure>
                            <img src="/site/img/crowdfunder/img3.jpg" alt="">
                            <figcaption>projeto de destaque</figcaption>
                        </figure>
                        <!--Content-->
                        <div class="content">
                            <h4> Card title goes here </h4>
                            <span> by the Author Name </span>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, maxime.</p>
                        </div>
                        <div class="detail">
                            <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="83"
                                aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar " style="width: 83%"></div>
                            </div>
                            <ul>
                                <li class="first">83%</li>
                                <li class="second">
                                    66.430,00 AO
                                    <span>Levantados</span>
                                </li>
                                <li class="third">
                                    26 dias
                                    <span>restates</span>
                                </li>
                            </ul>
                        </div>
                        <div class="local">
                            <span><i class="bi bi-geo-alt-fill"></i> São Paulo, SP</span>
                            <span><i class="bi bi-tag-fill"></i> Jogos</span>
                        </div>
                    
                </a>

                <a href="/crowdfunder/detalhes" class="col-10 col-md-7 col-lg-4 crowd_cart container-fluid">
                   
                        <figure>
                            <img src="/site/img/crowdfunder/img1.jpg" alt="">
                            <figcaption>projeto de destaque</figcaption>
                        </figure>
                        <!--Content-->
                        <div class="content">
                            <h4> Card title goes here </h4>
                            <span> by the Author Name </span>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, maxime.</p>
                        </div>
                        <div class="detail">
                            <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="83"
                                aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar " style="width: 83%"></div>
                            </div>
                            <ul>
                                <li class="first">83%</li>
                                <li class="second">
                                    66.430,00 AO
                                    <span>Levantados</span>
                                </li>
                                <li class="third">
                                    26 dias
                                    <span>restates</span>
                                </li>
                            </ul>
                        </div>
                        <div class="local">
                            <span><i class="bi bi-geo-alt-fill"></i> São Paulo, SP</span>
                            <span><i class="bi bi-tag-fill"></i> Jogos</span>
                        </div>
                    
                </a>

                <a href="/crowdfunder/detalhes" class="col-10 col-md-7 col-lg-4 crowd_cart container-fluid">
                   
                        <figure>
                            <img src="/site/img/crowdfunder/img2.jpg" alt="">
                            <figcaption>projeto de destaque</figcaption>
                        </figure>
                        <!--Content-->
                        <div class="content">
                            <h4> Card title goes here </h4>
                            <span> by the Author Name </span>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, maxime.</p>
                        </div>
                        <div class="detail">
                            <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="83"
                                aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar " style="width: 83%"></div>
                            </div>
                            <ul>
                                <li class="first">83%</li>
                                <li class="second">
                                    66.430,00 AO
                                    <span>Levantados</span>
                                </li>
                                <li class="third">
                                    26 dias
                                    <span>restates</span>
                                </li>
                            </ul>
                        </div>
                        <div class="local">
                            <span><i class="bi bi-geo-alt-fill"></i> São Paulo, SP</span>
                            <span><i class="bi bi-tag-fill"></i> Jogos</span>
                        </div>
                    
                </a>

                <a href="/crowdfunder/detalhes" class="col-10 col-md-7 col-lg-4 crowd_cart container-fluid">
                   
                        <figure>
                            <img src="/site/img/crowdfunder/img3.jpg" alt="">
                            <figcaption>projeto de destaque</figcaption>
                        </figure>
                        <!--Content-->
                        <div class="content">
                            <h4> Card title goes here </h4>
                            <span> by the Author Name </span>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, maxime.</p>
                        </div>
                        <div class="detail">
                            <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="83"
                                aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar " style="width: 83%"></div>
                            </div>
                            <ul>
                                <li class="first">83%</li>
                                <li class="second">
                                    66.430,00 AO
                                    <span>Levantados</span>
                                </li>
                                <li class="third">
                                    26 dias
                                    <span>restates</span>
                                </li>
                            </ul>
                        </div>
                        <div class="local">
                            <span><i class="bi bi-geo-alt-fill"></i> São Paulo, SP</span>
                            <span><i class="bi bi-tag-fill"></i> Jogos</span>
                        </div>
                    
                </a>

            </div>
        </section>
    </div>

</main>
<!-- MAIN END -->

{{> footer }}