@import './fonts';



.google_btn {
    border: 1px solid #eee;
    border-radius: 5px;
    text-decoration: none;
    color: #555;
    display: block;
    margin: 0 auto;
    padding: 5px;
    width: 90%;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: -10px;
    transition: ease-in-out .4s; 
    font-size: 15px;
    font-family: $roboto;
}
.google_btn:hover {
    transform: scale(1.02);
}

.google_svg {
    margin-right: 10px;
}

