@import './fonts';
@import './main';
@import './color';


.pj_detail_breadcrumbs {
    @include container;
    padding-bottom: 0
}
.pj_detail_container {
    @include container;
    padding: 20px;
    font-family: $roboto;
    background: #eee !important;

}


.project_info {
    padding: 40px !important;
    background: #fff;
    border-radius: 5px;
    margin-bottom: 2rem;

    h1 {
        font-family: $roboto;
        margin-bottom: 1rem;
        color: $secundary;
        font-size: 23px;
        border-left: solid 5px $primary;
        padding-left: 5px;

    }

    figure {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        img {
            width: 30px;
            height: 30px;
            border-radius: 100%;
        }

        figcaption {
            margin-left: 19px;

            span {
                font-size: 10px;
            }

            h4 {
                font-size: 11px;
                margin-top: 0;
            }
        }
    }

    .pj_categoty,
    .review,
    figure {
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .main_img {
        width: 100%;
        margin: 0 auto;
        display: block;
    }

    .ltl_category{
        color: #666;
        margin-top: 10px; 
        i {
            color: $primary;
            padding-right: 5px;
        }
    }

    h2 {
        color: $secundary;
        margin-top: 2rem;
        margin-bottom: 1rem;
        font-size: 18px;
        border-left: solid 3px $primary;
        padding-left: 5px;
    }

    .pj_description {
        border: solid 1px #eee;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 14px;
        color: #888;
        padding: 5px;
    }

}

.ltl_details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #fff;
    

    span {
        color: #222;
    }

    h4 {
        margin-top: 10px;
        font-size: 16px;
        color: $secundary;
        
    }

    .review div {
        margin-top: 10px;
        color: rgb(253, 181, 46);
        
    }

    



}

//================
.project_apply {
    position: relative;
    // margin-top: 2rem;
    background: #fff;
    border-radius: 5px;
    // padding-bottom: 2rem;
    padding: 40px !important;
    height: 600px !important;

    h4 {
        color: $secundary;
        margin-bottom: 1rem;
        font-size: 20px;
        border-left: solid 5px $primary;
        padding-left: 5px;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    ul .item {
        display: flex;
        justify-content: space-between;
    }

    ul li {
        padding-bottom: 10px;
        padding-top: 10px;
        border-bottom: 1px solid #aaa;
        color: #888;
        font-size: 15px;

        span {
            display: block;
        }

        i {
            color: $primary;
            margin-right: 10px;
        }

        .star i {
            margin-right: 0px;
            font-size: 15px;
        }
    }

    ul li:last-child {
        border-bottom: none;
    }

    .skill {
        list-style: circle !important;
    }
    .skill li {
        border-bottom: none;
        // display: flex;
        // justify-content: flex-start;
        margin-left: 2rem !important;
        padding-bottom: 0px;
        font-size: 15px;
    }

    .sbsb {
        text-decoration: none;
        color: $secundary;
        background-color: $primary;
        padding: 10px;
        font-size: 16px;
        border-radius: 5px;
        float: right;
        position: absolute;
        right: 1rem;
        bottom: 2rem;
        
        
    }
    .sbsb_insc{
        background-color: rgb(55, 55, 255) !important;
        color: #fff;
    }
}

// Tabel ================
.project_table {
    margin-top: 2rem;
    overflow-x: auto;
    background-color: #fff;
    width: 96%;
    padding-top: 1.5rem;

    h4 {
        color: $secundary;
        margin-bottom: 1rem;
        font-size: 20px;
        border-left: solid 5px $primary;
        padding-left: 5px;
        margin-left: 10px;
    }

}

table {
    min-width: 800px !important;
}

td{
    vertical-align: middle;
    
}
tr {
    padding: 1002px !important;

}

.sf_name {
    font-size: 15px;
    margin: 0;
    color: #666;
    font-family: $roboto;
}

.sf_nome {
    font-size: 15px;
    margin: 0;
    font-family: $roboto;
}
.sf_img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.sf_area {
    color: #888;
    font-size: 13px;
}

.sf_view {
    background-color: rgba(0, 128, 0, 0.301);
    color: green;
    border: none;
    padding: 4px;
    border-radius: 4px;
}



//=================