

#sidebar {

    // Scroll
    overflow-y: auto;

    ul {
        list-style: none;
        padding: 0;
        padding-left: 18px;
        // text-align: center;
        margin-bottom: 20px;
        border-bottom: 1px solid #777;
       

        li a {
            color: #ccc;
            text-decoration: none;
            font-size: 20px;
        }

        li {
            margin-bottom: 5px;
        }

        .sb-content {
            font-size: 15px;
            color: #ccc;
            margin-left: 20px;

        }
    }

    .home {
        margin-top: 1rem;
    }

    #sdb_container {
        background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4));
        position: absolute;
        left: 0;
        top: 2.9rem;
        padding: 0px;
        list-style: none;
        height: 50pxpx;
        width: 50px;
        border-bottom: none;
        z-index: 100;
    }
    #sdb-slide {
        color: #fff;
        font-size: 25px;
        margin-top: 15px;
        text-align: center;
        margin: 0;
    }
}

.sd-title {
    display: none;
}

