@import '../main';
@import '../fonts';
@import '../color';


.details_container {
    @include container();
    // padding: 20px;

    h1 {
        font-size: 21px;
        font-family: $roboto;
        margin-top: 1rem;
        margin-bottom: 1rem;
        border-left: solid 5px $primary;
        padding-left: 10px;
    }

    .cr_dt_content {
        .cr_dt_cont {
            box-shadow: 1px 5px 10px #eee;
            padding: 10px;
        }

        img {
            margin: 0 auto;
            width: 100%;
            height: 200px;
            display: block;
            height: 300px;
            margin: 0 auto;
        }

        a {
            text-decoration: none;
            max-width: 300px;
            background-color: rgb(2, 22, 90);
            color: #eee;
        }
        .sbscribe_btn{
            border: none;
            width: 100%;
            background-color: orange;
            text-transform: uppercase;
            font-weight: bold;
            color: #fff;
        }
        a,
        .sbscribe_btn {
            display: block;
            font-size: 15px;
            font-family: $roboto;
            text-align: center;

            padding: 6px;
            margin: 1rem auto;

        }
    }


    #dt_more_ingo {
        border-radius: 0 0 5px 5px;
        margin-top: 3rem;
        margin-bottom: 3rem;

        .dt_mr_btn {
            list-style: none;
            padding: 0;
            background-color: #eee;

            display: flex;

            button {
                padding: 10px;
                font-size: 15px;
                font-family: $roboto;

                border: none;

                width: 110px;
                background-color: #eee;
            }

        }
    }

    #dt_more_ingo,
    .dt_mr_btn {
        border-radius: 10px 10px 0px 0px;
    }

    #dt_modules {
        border-radius: 10px 0 0 0;
        border-right: 1px solid #eee !important;

    }


    #dt_module_show {
        padding: 10px;

        ul {
            list-style: none;
            padding: 0;

            li {
                margin-bottom: 10px;
                display: flex;
                border-bottom: 1px solid #ddd;
                padding-bottom: 1rem;
                padding-top: 1rem;

                div {
                    border: 1px solid rgb(2, 44, 182);
                    padding: 10px;
                    font-size: 15px;
                    font-family: $roboto;
                    text-align: center;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 20px;
                    height: 20px;
                    border-radius: 100%;

                    margin-right: 10px;
                }
            }

            li:last-child {
                border-bottom: none;
            }
        }
    }

    #dt_desc_show {
        display: none;
        padding: 20px;
        font-size: 15px;
        font-family: $roboto;
        color: #666;
        text-transform: capitalize;
        text-align: justify;
    }

    #dt_module_show {
        display: block;
    }

}

.cr_dt_info {
    div {
        box-shadow: 1px 5px 10px #ddd;
        padding: 10px;
        margin-top: 4rem;
    }

    ul {
        list-style: none;
        padding: 0;
        margin-bottom: 2rem;

        li {
            display: flex;
            justify-content: space-between;
            border-bottom: dashed 1px #888;
            margin-bottom: 1rem;

            font-size: 15px;
            font-family: $roboto;
            color: #555;

            .last {
                color: rgb(199, 129, 0);
            }

        }
    }

    a,
    button {
        margin-right: 10px;
        margin-bottom: 10px;
        font-size: 13px !important;
        font-family: $roboto !important;
    }

    .modal-dialog_dl {
        box-shadow: none;
        background: transparent;

        .modal-content_dl {
            box-shadow: none;
            padding: 0;
        }

        .modal-body_dl {
            box-shadow: none;
            background-color: rgb(252, 127, 127);
            margin-top: 0px;
            border-radius: 5px 5px 0 0;
        }

        .modal-footer_dl {
            box-shadow: none;
            margin-top: 0px;
            padding: 0;

        }
    }

}

#subsdcribeForm {
    h2 {
        border-left: 3px solid $primary;
        padding-left: 8px;
        font-size: 22px;
        font-family: $roboto;
        font-weight: 600;
        margin-bottom: 2rem;
    }
    label{
        display: block;
        font-size: 15px;
        font-family: $roboto;
        font-weight: bold;
    }
    select,
    input[type="tel"], 
    input[type="email"], 
    input[type="text"] {
        width: 100%;
        border:  none;
        border-bottom: 2px solid $primary;
        background-color: #eee;
        outline: none;
        padding-left: 10px;
        margin-bottom: 10px;
        font-size: 15px;
        font-family: $roboto;
        padding: 3px;
        color: #444;
    }


    .lab_op {
        font-weight: 400;
        margin-right: 10px;
    }
}

// End Container

@media (min-width:405px) {
    .sbscribe_btn{
        border: none;
        width: 300px !important;
    }
}