@import '../main';
@import '../fonts';
@import '../color';

.curso_breadcrumbs {
    @include container();
}

.allCourse_container {
    @include container();

    // BAR START ============
    .allCourse_bar {
        border-radius: 5px;
        box-shadow: 1px 5px 10px #ddd;
        font-size: 14px;


        .dropdown-menu {
            height: 300px;
            overflow-y: auto;

            li {
                margin-bottom: 6px !important;
                padding: 0;
            }

            
        }
        .dropdown-menu::-webkit-scrollbar {
            width: 4px; 
        }
        
        .dropdown-menu::-webkit-scrollbar-thumb {
            background: rgb(5, 91, 250);
            border-radius: 10px;
        }

        .new_btn_c {
            font-size: 14px;
            font-family: $roboto;
        }

        .bar_box {
            list-style: none;
            padding: 0 10px;
            padding-top: 1rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            font-family: $roboto;

            li {
                margin-right: 10px;
                margin-bottom: 1rem;
            }

            li:last-child {
                margin-right: 0px;
            }

          
        }

        #all_c_btn {
            padding: 10px;
            color: #333;
            border: none;
            border-radius: 5px;
            font-family: $roboto;
            text-decoration: none;
            background-color: #ddd;

        }

        .dropdown_category {
            background: #eee;
            color: #333;
            font-size: 14px;
            padding: 8px;
            font-family: $roboto;
        }

        .dropdown_category:focus {
            border: none;
            outline: none;
        }

        // FORM ================
        form {
            input {
                width: 270px;
                padding: 6px;
                padding-left: 10px;
                color: #555;
                font-size: 15px;
                font-family: $roboto;

                border: solid 1px #ddd;
                border-radius: 5px;
                outline: none;
            }
        }
    }

    // BAR END ==============

    // CONTENT START ==============
    .allcourse_content {
        border-radius: 5px;
        font-size: 15px;

        h1 {
            margin-bottom: 2rem;
            font-size: 23px;
            font-family: $roboto;

            span {
                font-weight: 600;
                border-left: 5px solid $primary;
                padding-left: 10px;
            }
        }
    }

    // CONTENT END ================
    .allcourse_content {
        padding: 20px;
        
        .allCourse_card {
            box-shadow: 1px 5px 10px #ddd;
            padding: 0;
            width: 280px;
            border-radius: 5px;
            margin-bottom: 2rem;
            // margin-left: 2px;
            

            img {
                width: 100%;
                height: 210px;
            }

            .acl_card_content{
                padding: 10px;
                padding-bottom: 1rem;

                a {
                    font-size: 14px;
                    font-family: $roboto;
                }

                h5 {
                    font-size: 17px;
                    color: #333;
                    font-weight: 600;
                    margin-bottom: 10px;
                    margin-top: 10px;
                    font-family: $roboto;

                }

                ul {
                    list-style: none;
                    padding: 0;
                    display: flex;
                    justify-content: space-between;
                    font-size: 13px;
                    color: #888;
                    font-family: $roboto;

 
                    i {
                        margin-right: 3px;
                    }
                }
                p {
                    font-size: 14px;
                    color: #777;
                    font-family: $roboto;
                }

               
            }
        }
    }

}  //End

// Pagination
.course_pagination {
    display: flex;
    justify-content: center;
    // background-color: #9c9999;
    padding: 10px;
    align-items: center;

    .next,
    .previous {
        padding: 10px;
        box-shadow: 1px 3px 6px #ccc;
        border-radius: 5px;

        i {
            font-size: 15px;
        }
    }
    .next:hover,
    .previous:hover {
        background-color:  rgb(0, 81, 255);
        color: #fff;
    }

    span {
        margin-right: 10px;
        margin-left: 10px;
        color: rgb(0, 81, 255);
        div {
            box-shadow: 1px 3px 6px #ccc;
            display: inline;
            padding: 13px;
            font-size: 15px;
            color: #333;
            border-radius: 5px;
        }
        div:hover {
            background-color:  rgb(0, 81, 255) ;
            color: #fff;
        }

        .d1 {
            margin-right: 10px;
            background-color:  rgb(0, 81, 255) ;
            color: #fff;
        }
        .d2 {
            margin-left: 10px;
        }
    }

}