

#AlertMessage {
    width: auto;
    background: rgba(2, 110, 2, 0.822);
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    position: fixed;
    top: 4rem;
    border: green solid 1px;

    p {
        padding: 0;
        margin-left: 10px;
        margin-bottom: 0;
        padding-right: 15px;
        color: #eee;
        font-size: 15px;
    }
    img {
        width: 50px;
        height: 50px;
    }
}