
    {{> header }}
    <!-- MAIN START -->
    <main>
        <div class="proj_pub_banner">
            <h2>Publicar um Projeto</h2>
            <span class="prob_pro_line"></span>
            <ul>
                <li><a href="/freelancer">Freelancer</a></li>
                <li><a href="/projetos/publicarprojeto">Publicar Projeto</a></li>
            </ul>
        </div>
        <div class="container project_pub_container">

            <h2>Publique um Projeto</h2>

            <form id="projeto_form">
                <div class="row">
                    
                    <div class=" col-12 col-sm-10 col-md-6 container-fluid">
                        <label for="categoria">Escolha uma categoria <span>*</span></label>
                        <select name="categoria" id="" class="form-select" required>
                            <option  selected>Selecione uma categoria</option>
                            {{#each categorias}}
                                <option value="{{ id }}"> {{ name }} </option>
                            {{/each}}
                            
                        </select>
    
                        <label for="nome">Dê um Nome para o trabalho <span>*</span></label>
                        <input type="text" name="nome" class="form-control" placeholder="Ex: Redator para blog de tecnologia" required>
    
                        <label for="descricao">Descreva o trabalho a ser feito <span>*</span></label>
                        <textarea name="descricao" id="" cols="30" rows="5" required class="form-control"></textarea>
                    </div>
                    <div class="col-12 col-sm-10 col-md-6 container-fluid">
                        <label for="habilidades">Quais habilidades são desejadas? <span>*</span></label>
                        <select name="habilidades" id="" class="form-control" multiple>
                            {{#each habilidades}}
                                <option value="{{ id }}"> {{ name }} </option>                              
                            {{/each}}
                        </select>
    
                        <label for="prazo" class="pub_prazo">Prazo<span>*</span></label>
                        <input type="date" name="prazo" class="form-control" required>

                        <label for="pj_img">Escolha uma Imagem <span>*</span></label>
                        <input type="file" id="pj_img" name="pj_img" class="form-select">
                    </div>

                    <input type="submit" value="Publicar Projeto" class="btn btn-primary pub_button">
                </div>
            </form>

        </div>
    </main>
    <!-- MAIN END -->

    {{!-- Script --}}
    <script>

        const form = document.getElementById('projeto_form')
        form.addEventListener('submit', async (e) => {
            e.preventDefault()

           const formData = new FormData(form)
            const url = '/dashboard/projeto/criar' 
           
            try{
                const response = await fetch('/dashboard/projeto/criar', {
                    method: "POST",
                    body: formData
                })

                const result = await response.json()
                console.log(result)
                if(result.project) {
                    console.log(result)
                    location.assign('/dashboard')
                }

            } catch (err) {
                console.log('There is an error in Fatch(): ' + err)
            }
        })
         
    </script>

   {{> footer }}