{{> header }}
<!-- MAIN START -->
<main>
    <div class="contact_banner">
        <h2>Contacta-nos</h2>
        <span class="cont_line"></span>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/contatos">Contatos</a></li>
        </ul>
    </div>
    <!-- CONTACT MAIN CONTAINER -->
    <div class="contact_container">
        <div class="row  cont_cont">
            <div class="col-10 col-sm-9 col-md-4 col-xl-3 container-fluid cont_end">
                <h3> <span>Nossos</span> Endereços</h3>
                <p>Se tiver alguma questão específica, por favor não hesita em nos contactar.</p>

                <ul>
                    <li>
                        <span class="cont_icone"><i class="bi bi-house-fill"></i></span>
                        <p>Angola, Luanda, Mutamba-Kinaxixi</p>
                    </li>
                    <li>
                        <span class="cont_icone"><i class="bi bi-telephone-fill"></i></span>
                        <div>
                            <p>+244 995 410 449</p>
                        </div>
                    </li>
                    <li>
                        <span class="cont_icone"><i class="bi bi-envelope-at-fill"></i></span>
                        <div class="last-email">
                            <p>emalengue0@gmail.com</p>
                            <p >academia.emalengue@gmail.com</p>
                        </div>
                    </li>
                    <li>
                        <div class="cont_media">
                            <a href="#"> <i class="bi bi-facebook"></i></a>
                            <a href="#"><i class="bi bi-instagram"></i></a>
                            <a href="#"> <i class="bi bi-whatsapp"></i></a>
                        </div>
                    </li>

                </ul>
            </div>
            <div class="col-10 col-sm-9 col-md-7 col-xl-7 container-fluid getInTouch">
                <h3><span>Entra em </span>Contato</h3>

                <form action="">
                    <div class="row">
                        <div class="col-12 col-lg-6 container-fluid">
                            <input type="text" placeholder="Seu nome" class="form-control">
                            <input type="email" placeholder="Seu e-mail" class="form-control">
                        </div>
                        <div class="col-12 col-lg-6 container-fluid">
                            <input type="text" placeholder="Assunto" class="form-control">
                            <input type="tel" placeholder="Telefone" class="form-control">
                        </div>
                        <div class="col-lg-512 container-fluid">
                            <textarea name="" id="" cols="30" rows="5" placeholder="messagem"
                                class="form-control"></textarea>
                        </div>
                    </div>
                    <input type="submit" name="" id="" value="Enviar" class="btn btn-warning">
                </form>
            </div>
            <div class="col-10 col-md-8 cont_map container-fluid">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3942.675827438052!2d13.23678647429108!3d-8.81649359019248!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1a51f24bb9172aaf%3A0x82fd1f4396c85bca!2sLargo%20do%20Kinaxixi%2C%20Luanda!5e0!3m2!1spt-PT!2sao!4v1703673130958!5m2!1spt-PT!2sao"
                    width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</main>
<!-- MAIN END -->
{{> footer }}